body {
  background-color: #E2BBC1;
}

.menuview {
  display: none;
}

.nomenuview {
  cursor: pointer;
  font-weight: bold;
}

.nomenuview:hover {
  text-decoration: underline;
  color: red;
}

#leftmenu {
  float: left;
  width: 25%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0px;
}

.container {
  margin-left: 25%;
}
