html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #D6BDB8;
  margin-bottom: 60px;
}

h1 {
  font-family: 'Satisfy', cursive;
  color: #FFFFFF;
}

h5 {
  padding: 10px 0;
}

#under-title {
  font-family: 'Niconne', cursive;
}

.nomenuview {
  cursor: pointer;
}

#leftmenu {
  float: left;
  width: 220px;
  position: fixed;
  left: 0px;
  top: 0;
  bottom: 0;
  margin: 0px;
  margin-left: 15px;
}

#peach-closed, #red-closed, #red-open, #lightblue-open, #lightblue-closed, #darkblue-closed, #darkblue-open, #green-closed, #green-open, #gray-open, #gray-closed {
  display: none;
}

.panel {
  width: 93%;
  margin-top: 10px;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  background-color: #3f599a;
}

.menuview .panel:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.container {
  margin-left: 220px;
  position: fixed;
  max-width: 90%;
  overflow-x: hidden;
}

#main-content {
  background-color: #7188c2;
  text-align: center;
  width: 90%;
  overflow-x: hidden;
}

#main-content .panel-body {
  text-align: left;
}

.show-name {
  color: #FD2494;
}

#color-buttons {
  cursor: pointer;
  margin: 0px;
}

#navbar {
  background-color: #3f599a;
  color: #ffffff;
  max-width: 92%;
  overflow-x: hidden;
  font-family: 'Fredoka One', cursive;
}

#mobile-demo {
  background-color: #4D79A8;
}

.navbar-toggle {
  background-color: #D6BDB8;
}

.colors-switch {
	width: 60px;
	height: 42px;
	margin: 5px;
	padding: 0;
	background: #3f599a;
	overflow: hidden;
  border-radius: 5px;
}
.colors-switch:hover {
	bottom: -36px;
	opacity: 1;
}

#color-buttons .colors-switch img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#color-buttons .colors-switch:hover img {
	opacity: .5;
}

a {
  color: #FFFFFF;
}

a:hover {
  text-decoration: none;
  color: #2edfef;
}

#about-badge {
  margin: auto;
  width: 50%;
  padding: 70px 0;
  background-color: #FFFFFF;
  border: 2px solid #BDC5C9;
  text-align: center;
  border-radius: 10px;
}

#about-badge a, .about-answers {
  color: #24b8fd;
}

.footer {
  position: absolute;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  background-color: #f8ddc1;
}

.footer a {
  color: #a57f66;
}

.footer a:hover {
  color: #6c2a29;
}
