body {
  background-color: #E2BBC1;
}

.menuview {
  display: none;
}

.nomenuview {
  cursor: pointer;
  font-weight: bold;
}

.nomenuview:hover {
  text-decoration: underline;
  color: red;
}

#leftmenu {
  float: left;
  width: 25%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0px;
}

.container {
  margin-left: 25%;
}

#color-buttons {
  cursor: pointer;
}

#color-buttons:hover {
  color: red;
}

#navbar {
  background-color: #E2BBC1;
}

#mobile-demo {
  background-color: #4D79A8;
}

figure {
	width: 58px;
	height: 42px;
	margin: 0;
	padding: 0;
	background: #E2BBC1;
	overflow: hidden;
  border-radius: 5px;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

#color-buttons figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#color-buttons figure:hover img {
	opacity: .5;
}
